{% extends 'base.html' %}
{% block bodyblock %}
<h3 style="text-align: center; color: #6A5ACD; font-family: 'Arial', sans-serif; text-decoration: underline; font-weight: bold; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);">Dog Breeds that can be predicted:</h3>
<br>
<div class="container">
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Yorkshire Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Whippet</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Welsh Springer Spaniel</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Walker Hound</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Toy Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Tibetan Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Sussex Spaniel</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Standard Poodle</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Soft-Coated Wheaten Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Siberian Husky</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Shetland Sheepdog</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Scottish Deerhound</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Schipperke</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Saluki</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Rottweiler</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Redbone</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Pomeranian</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Pekinese</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Otterhound</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Norwich Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Norfolk Terrier</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Miniature Schnauzer</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Miniature Pinscher</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Maltese Dog</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Malamute</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Leonberg</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Labrador Retriever</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Komondor</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Kelpie</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Japanese Spaniel</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Irish Wolfhound</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Irish Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Ibizan Hound</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Greater Swiss Mountain Dog</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Great Dane</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Golden Retriever</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">German Short-Haired Pointer</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">French Bulldog</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Eskimo Dog</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">English Springer</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">English Foxhound</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Dingo</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Dandie Dinmont</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Collie</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Clumber</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Chihuahua</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Cardigan</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Bull Mastiff</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Briard</button></div>
    </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Boxer</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Boston Bull</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Border Terrier</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Bluetick</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-warning">Blenheim Spaniel</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-info">Bernese Mountain Dog</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-dark">Beagle</button></div>
   </div>
    <div class="row" style="margin-bottom: 1em;">
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-primary">Basenji</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-secondary">Appenzeller</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-success">Airedale</button></div>
        <div class="col-md" style="margin-left: 1em;"><button type="button" class="btn btn-danger">Afghan Hound</button></div>
   </div>
</div>
<br>
<br>
{% endblock bodyblock %}
